//variables.scss

@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Glegoo:400,700);


$font-primary:   'Exo 2', sans-serif;
$font-secondary:   'Glegoo', serif;
$primary-color: #000;
$secondary-color: #0271f2;
$clearest-color: #FFF;

$navbar-height: 65px;